
.card {
    aspect-ratio: 1/1.6;
    border: 0.5vmin dashed #171717;
    cursor: pointer;
    position: relative;
    width: 56vmin;
    z-index: 1;
}
.card:before {
    background: linear-gradient(
        130deg,
        transparent 0% 33%,
        var(--g1) 66%,
        var(--g2) 83.5%,
        var(--g3) 100%
    );
    background-position: 0% 0%;
    background-size: 300% 300%;
    content: "";
    height:100%;
    left: 0px;
    position: absolute;
    top: 0px;
    transition: background-position 350ms ease;
    width: 100%;
}
.card:hover:before {
    background-position: 100% 100%;
    /* transform: scale(1.08, 1.03); */
}
.card:hover > .cardContent {
    background-position: -10% 0%;
}

.cardContent {
    background: radial-gradient(
        rgba(255, 255, 255, 0.2) 8%,
        transparent 8%
    );
    background-position: 0% 0%;
    background-size: 5vmin 5vmin;
    padding: 5vmin;
    height: 100%;
    width: 100%;
    position: relative;
    transition: background-position 350ms ease;
    z-index: 2;
}
.cardTitle,
.cardSubtitle {
    color: white;
}

.cardSubtitleWord {
    display: inline-block;
    margin: 0vmin 0.3vmin;
    position: relative;
    transform: translateY(40%);
    transition: none;
    opacity: 0;
}

.card:hover > .cardContent > .cardSubtitle > .cardSubtitleWord {
    opacity: 1;
    transform: translateY(0%);
    transition: opacity 0ms, transform 200ms cubic-bezier(.90, .06, .15, .90);
}