
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Rubik Mono One";
  src: url('../public/fonts/RubikMonoOne-Regular.ttf');
}
@font-face { 
  font-family: "Atkinson Regular";
  src: url("../public/fonts/AtkinsonHyperlegible-Regular.ttf");
}
@font-face { 
  font-family: "Atkinson Bold";
  src: url("../public/fonts/AtkinsonHyperlegible-Bold.ttf");
}
@font-face { 
  font-family: "Atkinson Italic";
  src: url("../public/fonts/AtkinsonHyperlegible-Italic.ttf");
}
@font-face { 
  font-family: "Atkinson BoldItalic";
  src: url("../public/fonts/AtkinsonHyperlegible-BoldItalic.ttf");
}
@font-face {
  font-family: "Anek Latin";
  src: url('../public/fonts/AnekLatin-VariableFont_wdth\,wght.ttf');
}

/* variable declaration */
:root {
  --g1: #fd1d66;
  --g2: #833ab4;
  --g3: #45befc;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
